* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color:white;
    padding: 20px; /* Some padding for better spacing */
    display: flex; /* Flexbox for layout */
    justify-content:space-around; /* Space between elements */
    align-items: center; /* Center items vertically */
  }
  /* Style the logo */
header a img[name="gotohome"] {
    height: 35px; /* Logo height */
    width: auto; /* Maintain aspect ratio */
    align-items: center;
}
.navtools a {
    color: rgb(105, 123, 114); /* White text color */
    text-decoration:none; /* Remove underline */
    font-size: 17px; /* Increase font size */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
    justify-content: space-between;
    list-style: none;
    margin: 0 7px;
  }
  #headerlogo{
    height: 45px; /* Logo height */
    width: auto; /* Maintain aspect ratio */
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .leadsection {
    text-align: center;
    padding: 0;
    background-color: #fff;
    max-width: 600px;
    max-width: 900px;
    margin: auto;
}
#headerp{
    font-size: 30px;
    font-weight:200;
    color: rgb(96, 206, 169);
    margin-bottom: 20px;
}
.twoparagraphs {
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap:40px;
    padding: 20px; /* Add padding to the paragraphs for better spacing */
    box-sizing: border-box; /* Ensure padding does not affect width */
}
}

.p1, .p2 {
   text-align: left;
   padding:10px;
}

/* @media (max-width: 768px) {
    .twoparagraphs {
        flex-direction: column;
        align-items: flex-start; */